<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Console.Blog()</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/jass.css">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <header>
            <h1>
                Console.Blog()
            </h1>
            <nav>
                <!-- Conditionally render login or logout links -->
                <!-- {{#if logged_in}} -->
                <!-- <a href="/profile">profile</a> |
                <button class="no-button" id="logout">logout</button> -->
                <!-- {{else}} -->
                <a href="/login">login</a>
                <!-- {{/if}} -->
              </nav>
        </header>
        
        
        <script src="" async defer></script>
    </body>
</html>